extends layout.pug

include utils.pug

block content 
    body 
        .showImage
            a(href=`/shows/${showId}`)
                img(src=show.image)
        .show=show.name
        fieldset
            +validationErrorSummary(errors)
            form(action=`/shows/${showId}/review` method='post')
                input(type='hidden' name='_csrf' value=csrfToken)
                label(for='rating') 
                div(class='review-form')
                    +field('Rating', 'rating', rating)
                div(class='review-form')
                    +field('Review', 'review', content)
                div(class='submit-review-button')
                    button(type='submit' class='post-button') Post          