extends layout.pug

include utils.pug

block content
    //- script(src="/javascripts/edit-review.js" type="module")
    body
        .showImage
            a(href=`/shows/${review.showsId}`)
                img(src=show.image)
        .show=show.name
        fieldset
            +validationErrorSummary(errors)
            form(action=`/shows/review/${review.id}/edit` class="edit-review" method='POST')
                input(type='hidden' name='_csrf' value=csrfToken)
                h1= review.rating
                div(class='rating-edit-form')
                    +field('Rating', 'rating', review.rating)
                div(class='review-edit-form')
                    +field('Review', 'review', review.content)
                div(class='submit-edit-button')
                    button(id= review.id type='submit' class='edit-post-button') Edit
