extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
    body
      .welcomeText
        h1 Welcome To Shouldsees!
      .top-rated-container
        .topRated
          p Top Rated Shows
          .outer-wrapper
            .wrapper
              each show in shows
                .showImages
                  a(href=`/shows/${show.id}`)
                        img(src=show.image)
                  .show-title
                    .showName= show.name
                    .showGenre= show.genre
                    .showCriticRating= show.criticRating
