extends layout.pug


append head
    link(rel='stylesheet' href='/stylesheets/my-show-list.css')

block content
    body
        .content-container
            .container
                h1 My Shows
                hr
                h2 Want To Watch
                .want-to-watch
                    if wantToWatch.length === 0
                        .emptyMessage Add some shows to your Want to Watch list!
                    each show in wantToWatch
                        .individual-list-container
                            .showImage
                                a(target href=`/shows/${show.id}`)
                                    img(src=show.image)
                            .show-title
                                .showName= show.name
                                .showGenre= show.genre
                                .showCriticRating= show.criticRating
                            .delete-from-list
                                form(action=`/my-show-list/${wantToWatchList.id}/show/${show.id}/delete` method='POST')
                                    input(type="hidden" name="_csrf" value=csrfToken)
                                    input(type="hidden" name="listId" value=wantToWatchList.id)
                                    input(type="hidden" name="showId" value=show.id)
                                    button(type="submit" class='delete-show-button') Remove
                h2 Currently Watching
                .current-watching
                    if currentlyWatching.length === 0
                        .emptyMessage Add some shows to your Currently Watching list!
                    each show in currentlyWatching
                        .individual-list-container
                            .showImage
                                a(target href=`/shows/${show.id}`)
                                    img(src=show.image)
                            .show-title
                                .showName= show.name
                                .showGenre= show.genre
                                .showCriticRating= show.criticRating
                            .delete-from-list
                                form(action=`/my-show-list/${currentlyWatchingList.id}/show/${show.id}/delete` method='POST')
                                    input(type="hidden" name="_csrf" value=csrfToken)
                                    input(type="hidden" name="listId" value=currentlyWatchingList.id)
                                    input(type="hidden" name="showId" value=show.id)
                                    button(type="submit" class='delete-show-button') Remove
                h2 Watched
                .watched
                    if watched.length === 0
                        .emptyMessage Add some shows to your Watched list!
                    each show in watched
                        .individual-list-container
                            .showImage
                                a(target href=`/shows/${show.id}`)
                                    img(src=show.image)
                            .show-title
                                .showName= show.name
                                .showGenre= show.genre
                                .showCriticRating= show.criticRating
                            .delete-from-list
                                form(action=`/my-show-list/${watchedList.id}/show/${show.id}/delete` method='POST')
                                    input(type="hidden" name="_csrf" value=csrfToken)
                                    input(type="hidden" name="listId" value=watchedList.id)
                                    input(type="hidden" name="showId" value=show.id)
                                    button(type="submit" class='delete-show-button') Remove
