extends layout.pug

block content
    script(src="/javascripts/index.js" type="module")
    body
        .showImage
            a(href=`/shows/${show.id}`)
                img(src=show.image)
        .showName= show.name
        .showDescription= show.description
        .showCast= show.cast
        .showGenre= show.genre
        .showCriticRating= show.criticRating
        .watch-status
            form(action=`/shows/${show.id}` method="POST" id="select-form-watch-status")
                input(type="hidden" value=show.id name="show-id-input")
                select(class="watch-status-select" id="watch-status-select" name="watch-status-select")
                    option(value="none" id="none")= "--Select--"
                    each list in lists
                        option(value=list.id)= list.listName
                button(type="submit" value="Submit" id="submit").watch-status-button Submit
        a(href=`/shows/${show.id}/review`)
            button(class="write-review-button") Write Review
        .reviewsList
            ul
            each review in reviews
                li= review.User.username
                li= review.rating
                    ul
                        li= review.content
                if locals.authenticated
                    a(href=`review/${review.id}/edit`)
                        button(class='edit-review-button') Edit Review
                    //- form(action='/:id(\\d+)/review/delete' method='post')
                    //-     button(class='edit-review-button') Delete Review
