extends layout.pug

block content
    //- script(src="/javascripts/index.js" type="module")
    script(src="/javascripts/edit-review.js" type="module")
    script(src="/javascripts/delete-review.js" type="module")
    body
        .showImage
            a(href=show.image)
                img(src=show.image)
        .showName= show.name
        .showDescription= show.description
        .showCast= show.cast
        .showGenre= show.genre
        .showCriticRating= show.criticRating
        .watch-status
            form(action=`/shows/${show.id}` method="POST")
                select(class="watch-status-select" id="watch-status-select")
                    option(value="") --Select--
                    option(value="0") Want to Watch
                    option(value="1") Currently Watching
                    option(value="2") Watched
                //- button(type="submit" value="Submit").watch-status-button Submit
        a(href=`/shows/${show.id}/review`)
            button(class="write-review-button") Write Review
        .reviewsList
            ul
            each review in reviews
                div(id=`review-container-${review.id}`)
                    li= review.User.username
                    li(id=`rating-${review.id}`)= review.rating
                        ul
                            li(id=`content-${reviewId}`)= review.content
                    if locals.authenticated
                        a(href=`/shows/review/${review.id}/edit`)
                            button(class='edit-review-button') Edit Review
                        form(action=`/shows/review/${review.id}/delete` method='post')
                            input(type="hidden" name="_csrf" value=csrfToken)
                            button(id=review.id class='delete-review-button') Delete Review
