extends layout.pug

block content 
    body 
        .showImage
            a(href=show.image)
                img(src=show.image)
        .showName= show.name
        .showDescription= show.description
        .showCast= show.cast
        .showGenre= show.genre
        .showCriticRating= show.criticRating
        a(href=`/shows/${show.id}/review`)
            button(class="write-review-button") Write Review

        .reviewsList 
            ul 
            each review in reviews
                li= review.userId
                li= review.rating
                    ul 
                        li= review.content  
            

