extends layout.pug

append head
    link(rel='stylesheet' href='/stylesheets/show-details.css')

block content
    script(src="/javascripts/index.js" type="module")
    script(src="/javascripts/edit-review.js" type="module")
    script(src="/javascripts/delete-review.js" type="module")
    body
        .content-container
            .container
                .show-information-container
                    .showImage
                        a(href=`/shows/${show.id}`)
                            img(src=show.image)
                    .showName= show.name
                    .showDescription= show.description
                    .showCast
                        p= "Cast: "
                        p= show.cast
                    .showGenre= show.genre
                    .showCriticRating= show.criticRating
                    .watch-list-container
                        h2 Watch Status
                        if user
                            if currentList1
                                .watch-list-display= currentList1.MyShowList.listName
                            if currentList2
                                .watch-list-display= currentList2.MyShowList.listName
                            if currentList3
                                .watch-list-display= currentList3.MyShowList.listName
                            .watch-status
                                form(action=`/shows/${show.id}` method="POST" id="select-form-watch-status")
                                    input(type="hidden" value=show.id name="show-id-input")
                                    select(class="watch-status-select" id="watch-status-select" name="watch-status-select")
                                        each list in lists
                                            option(value=list.id)= list.listName
                                    button(type="submit" value="Submit" id="submit").watch-status-button Submit
                .review-container
                    a(href=`/shows/${show.id}/review`)
                        button(class="write-review-button") Write Review
                    .reviewsList
                        ul
                        each review in reviews
                            .review
                                div(id=`review-container-${review.id}`)
                                    li= review.User.username
                                    li(id=`rating-${review.id}`)= review.rating
                                        ul
                                            li(id=`content-${reviewId}`)= review.content
                                    if locals.authenticated
                                        a(href=`/shows/review/${review.id}/edit`)
                                            button(class='edit-review-button') Edit Review
                                        form(action=`/shows/review/${review.id}/delete` method='post')
                                            input(type="hidden" name="_csrf" value=csrfToken)
                                            button(id=review.id class='delete-review-button') Delete Review
