extends layout.pug

append head
    link(rel='stylesheet' href='/stylesheets/shows.css')

block content
    .content-container
        .container
            h1 Browse all shows
            .page-content
                .show-container
                    each show in shows
                        .individual-show-container
                            .showImage
                                a(target href=`/shows/${show.id}`)
                                    img(src=show.image)
                            .show-title
                                .showName= show.name
                                .showGenre= show.genre
                                .showCriticRating= show.criticRating
