extends layout.pug

block content
    //- script(src="/javascripts/index.js" type="module")
    script(src="/javascripts/edit-review.js" type="module")
    body
        .showImage
            a(href=show.image)
                img(src=show.image)
        .showName= show.name
        .showDescription= show.description
        .showCast= show.cast
        .showGenre= show.genre
        .showCriticRating= show.criticRating
        .watch-status
            form(action=`/shows/${show.id}` method="POST")
                select(class="watch-status-select" id="watch-status-select")
                    option(value="") --Select--
                    option(value="0") Want to Watch
                    option(value="1") Currently Watching
                    option(value="2") Watched
                //- button(type="submit" value="Submit").watch-status-button Submit
        a(href=`/shows/${show.id}/review`)
            button(class="write-review-button") Write Review
        .reviewsList
            ul
            each review in reviews
                li= review.User.username
                li= review.rating
                    ul
                        li= review.content
                if locals.authenticated
                    a(href=`review/${review.id}/edit`)
                        button(class='edit-review-button') Edit Review
                    //- form(action='/:id(\\d+)/review/delete' method='post')
                    //-     button(class='edit-review-button') Delete Review
